[submodule "Minecraft_Traces/mc_wanderer"]
	path = Minecraft_Traces/mc_wanderer
	url = https://gitlab.itec.aau.at/minecraft/mc_wanderer.git
	branch = master
[submodule "ZMQ_Client"]
	path = ZMQ_Client
	url = https://gitlab.itec.aau.at/minecraft/ZMQSyncPeer
	branch = master
[submodule "NDN_Clients"]
	path = NDN_Clients
	url = https://gitlab.itec.aau.at/philipp-moll/QuadTreeSyncEvaluation.git
	branch = master
