[submodule "Minecraft_Traces/mc_wanderer"]
	path = Minecraft_Traces/mc_wanderer
	url = https://gitlab.itec.aau.at/minecraft/mc_wanderer.git
	branch = master
[submodule "ZMQ_Client"]
	path = ZMQ_Client
	url = https://github.com/phylib/ZMQSyncPeer.git
	branch = master
[submodule "NDN_Clients"]
	path = NDN_Clients
	url = https://github.com/phylib/QSPClients.git
	branch = master
[submodule "MiniNDN"]
	path = MiniNDN
	url = https://github.com/phylib/QSPMiniNDN.git
	branch = master
